{
	"checkmarx":{
		"url":"http://checkmarx-server/",
		"APIType":1,
		"username":"admin",
		"password":"",
		"APIversion":"0.0",
		"baseProject":"CxServer\\SP\\"
	},
	"repos":{
		"example-stash":{
			"enabled":"True",
			"repoType":"stash",
			"url":"http://stash-url/",
			"username":"username",
			"password":"password",
			"sshkey":"/path/to/ssh_rsa",
			"include":"*",
			"exclude":"test,lab"
		},
		"example-bitbucket":{
			"enabled":"True",
			"repoType":"bitbucket",
			"url":"#",
			"username":"username",
			"password":"password",
			"usernames":
				{
					"name": "username"
				},
			"sshkey":"/path/to/ssh_rsa",
			"include":"*",
			"exclude":""
		},
		"example-github":{
			"enabled":"False",
			"repoType":"github",
			"url":"#",
			"username":"username@yoursite.com",
			"password":"password",
			"sshkey":"/path/to/ssh_rsa",
			"include":"*",
			"exclude":""
		}
	}
}
